.Wrapper {
    transition: all 0.3s ease-out;
}

.Todo {
    margin-top: 0.5rem;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 1s ease;
}

.Btn {
    height: 1.8rem;
}

.todoItem {
    display: flex;
    font-size: 1.5rem;
    justify-content: space-between;
    padding: 0rem 0.8rem;
    background-color: black;
    border: 1px solid gray;
    border-bottom: none;
    border-radius: 30px 0px 0px 0px;
    color: white;
    flex-grow: 2;
}

.Description {
    font-size: 1.5rem;
    margin: 0;
    padding-left: 2rem;
    background-color: black;
    color: white;
    flex-grow: 2;
    border-left: 1px solid gray;
    font-weight: lighter;
    border-radius: 0px 0px 0px 15px;
}

.todoItemDone {
    text-decoration: line-through;
}

.todoItemRemoved {
    transform: translateX(-100vw)
}